body {
    background-color: black;
}

header {
    width: 1200px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;


}

nav img {
    display: flex;
    float: left;
}

.nav_list {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(9px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 70px;
}

.start-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin-left: 65px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #d67d07;
}

nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: white;
}

.nav_list li {
    position: static;
    /* можна залишити без позиціювання */
}

.nav_list li a {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}

.nav_list li a span {
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}
/* Фон при наведенні */
.nav_list li a:hover {
  background-color: rgba(255, 165, 0, 0.2);
}
.nav_list li a:hover span {
  transform: translateY(-3px);
}

/* Псевдоелемент на <a>, щоб лінія була по довжині тексту */
.nav_list li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    /* відступ 5px знизу */
    height: 2px;
    width: 50%;
    background-color: orange;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease;
    border-radius: 2px;
    justify-content: center;
}

.nav_list li a:hover::after {
    transform: translateX(-50%) scaleX(1);
}